body{
  margin: 0; 
  text-align: center;
}
h1{
  margin: 0 auto 0 auto;
}


.top_container{  background-color: #E4F9F5; 

}
.bottom-cloud{
  position: absolute;margin: 500;

}
.top-cloud{
  position: relative;padding-top: 100px;padding-left: 200px;
}
.mountain{
  padding-top: 200px;
}